# Helper Functions

In [1]:
# Loads a dataset from the Datasets directory
def relative_path(path):
    return 'Datasets/{}'.format(path)

In [2]:
def print_enumeration(collection):
    for num, value in enumerate(collection, start=1):
        print('{0}. {1}'.format(num, value))

# Bed Analysis
I'm analyzing the ICU Bed By County Dataset for the sake of getting some information. <br> 
Datasets are found here: https://www.kaggle.com/jaimeblasco/icu-beds-by-county-in-the-us

## Import Modules

In [3]:
import numpy as np
import pandas as pd

## Load Dataset

In [4]:
dataset_path = 'icu-beds-by-county-in-the-us/data-FPBfZ.csv'
actual_path = relative_path(dataset_path)

In [5]:
data = pd.read_csv(actual_path)

In [6]:
data.head()

,State,County,ICU Beds,Total Population,Population Aged 60+,Percent of Population Aged 60+,Residents Aged 60+ Per Each ICU Bed
0,Alabama,Autauga,6,55036,10523,19.1,1754.0
1,Alabama,Baldwin,51,203360,53519,26.3,1049.0
2,Alabama,Barbour,5,26201,6150,23.5,1230.0
3,Alabama,Bibb,0,22580,4773,21.1,NaN
4,Alabama,Blount,6,57667,13600,23.6,2267.0

In [7]:
states = data.State.unique()

In [8]:
print_enumeration(states)

1. Alabama
2. Alaska
3. Arizona
4. Arkansas
5. California
6. Colorado
7. Connecticut
8. Delaware
9. District of Columbia
10. Florida
11. Georgia
12. Hawaii
13. Idaho
14. Illinois
15. Indiana
16. Iowa
17. Kansas
18. Kentucky
19. Louisiana
20. Maine
21. Maryland
22. Massachusetts
23. Michigan
24. Minnesota
25. Mississippi
26. Missouri
27. Montana
28. Nebraska
29. Nevada
30. New Hampshire
31. New Jersey
32. New Mexico
33. New York
34. North Carolina
35. North Dakota
36. Ohio
37. Oklahoma
38. Oregon
39. Pennsylvania
40. Rhode Island
41. South Carolina
42. South Dakota
43. Tennessee
44. Texas
45. Utah
46. Vermont
47. Virginia
48. Washington
49. West Virginia
50. Wisconsin
51. Wyoming

## Filter Dataset

In [16]:
# Example of filtering data
filter_function = data['State']=='Alaska'
data[filter_function].head()

,State,County,ICU Beds,Total Population,Population Aged 60+,Percent of Population Aged 60+,Residents Aged 60+ Per Each ICU Bed
67,Alaska,Aleutians East,0,3338,510,15.3,NaN
68,Alaska,Aleutians West,0,5784,707,12.2,NaN
69,Alaska,Anchorage,73,298225,43608,14.6,597.0
70,Alaska,Bethel,0,17957,2082,11.6,NaN
71,Alaska,Bristol Bay,0,917,164,17.9,NaN

In [57]:
# Prints the number of Counties per State
for num, state in enumerate(states, start=1):
    state_data = data[data['State']==state]
    
    print('{1} ({0})'.format(state, 'Counties: {}'.format(len(state_data.County.unique())).ljust(14)))

Counties: 67   (Alabama)
Counties: 29   (Alaska)
Counties: 15   (Arizona)
Counties: 75   (Arkansas)
Counties: 58   (California)
Counties: 64   (Colorado)
Counties: 8    (Connecticut)
Counties: 3    (Delaware)
Counties: 1    (District of Columbia)
Counties: 67   (Florida)
Counties: 159  (Georgia)
Counties: 5    (Hawaii)
Counties: 44   (Idaho)
Counties: 102  (Illinois)
Counties: 92   (Indiana)
Counties: 99   (Iowa)
Counties: 105  (Kansas)
Counties: 120  (Kentucky)
Counties: 64   (Louisiana)
Counties: 16   (Maine)
Counties: 24   (Maryland)
Counties: 14   (Massachusetts)
Counties: 83   (Michigan)
Counties: 87   (Minnesota)
Counties: 82   (Mississippi)
Counties: 115  (Missouri)
Counties: 56   (Montana)
Counties: 93   (Nebraska)
Counties: 17   (Nevada)
Counties: 10   (New Hampshire)
Counties: 21   (New Jersey)
Counties: 33   (New Mexico)
Counties: 62   (New York)
Counties: 100  (North Carolina)
Counties: 53   (North Dakota)
Counties: 88   (Ohio)
Counties: 77   (Oklahoma)
Counties: 36   (Oregon)
Counties: 67   (Pennsylvania)
Counties: 5    (Rhode Island)
Counties: 46   (South Carolina)
Counties: 66   (South Dakota)
Counties: 95   (Tennessee)
Counties: 254  (Texas)
Counties: 29   (Utah)
Counties: 14   (Vermont)
Counties: 133  (Virginia)
Counties: 39   (Washington)
Counties: 55   (West Virginia)
Counties: 72   (Wisconsin)
Counties: 23   (Wyoming)